.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(80vh - 64px);
  padding: 20px;
}

table {
  width: 570px;
  height: 230px;
  border-collapse: collapse;
  background-color: #fff5f1;
  border: none;
  font-size: 18px;
  color: #ffb362;
}

th {
  height: 67px;
  padding: 16px 30px;
  border: 1px solid rgba(255, 132, 0, 0.35);
  background-color: #ffdebb;
  color: #ff8400;
}

td {
  padding: 0 48px;
  border: 1px solid rgba(255, 132, 0, 0.35);
}

img {
  border: 3px solid #b1420b38;
  border-radius: 20px;
  height: 200px;
}