.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(80vh - 64px);
}

table {
  width: 1140px;
  height: 460px;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.72);
  border: none;
  font-size: 36px;
}

th {
  height: 134px;
  padding: 16px 30px;
  border: 1px solid rgba(255, 132, 0, 0.35);
  background-color: #ffdebb;
  color: #ff8400;
}

td {
  padding: 16px 30px;
  border: 1px solid rgba(255, 132, 0, 0.35);
}