.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(80vh - 64px);
  padding: 20px;
}

.content h2 {
  color: #ff8400;
  letter-spacing: 40px;
  font-size: 42px;
  margin-bottom: 45px;
}

.content h2 span {
  letter-spacing: 0;
}

.content h3 {
  color: #ff8400;
  font-size: 30px;
  letter-spacing: 4px;
  margin: 50px 0;
  position: relative;
}

table {
  border-collapse: collapse;
  border: 2px solid #ff8400;
  background-color: rgba(255, 255, 255, 0.75);
}

th,
td {
  padding: 15px 25px;
  border: 1px solid #ffd4a5;
}

th {
  background-color: #ff8400;
  color: #fff;
}

.member-container a {
  color: #ff8400;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.member-container a:hover {
  color: #ffb667;
}

img {
  border: 3px solid #ff8400;
  border-radius: 20px;
  margin: 8px;
  height: 200px;
  transition: all 1s;
}

img:hover {
  box-shadow: 0 12px 35px #ffb96f;
  transform: perspective(1000px) rotateY(360deg) scale(1.1);
}

.member-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.member-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  color: #ff46c4;
}