* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff0f6;
  padding: 40px 20px;
  background-image: url(../image/background1.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #d82a7f;
  letter-spacing: 40px;
  font-size: 42px;
  margin-bottom: 45px;
}

h1 span {
  letter-spacing: 0;
}

h2 {
  color: #b81a69;
  font-size: 30px;
  letter-spacing: 4px;
  margin: 50px 0;
  position: relative;
}

table {
  border-collapse: collapse;
  border: 2px solid #d82a7f;
  background-color: rgba(255, 255, 255, 0.75);
}

th,
td {
  padding: 15px 25px;
  border: 1px solid #f8c8dc;
}

th {
  background-color: #d82a7f;
  color: #fff;
}

td {
  color: #444;
}

a {
  color: skyblue;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s;
}

a:hover {
  color: skyblue;
  text-decoration: underline;
  transform: perspective(1000px) rotateY(360deg) scale(1.1);
}

img {
  border: 3px solid #ff96c8;
  border-radius: 20px;
  transition: all 0.3s;
  margin-top: 8px;
  height: 200px;
}

img:hover {
  box-shadow: 0 12px 35px rgba(216, 42, 127, 0.45);
  border-color: #d82a7f;
}


.member-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.member-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}