* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  background-color: #fff0f6;
}

p {
  text-indent: 2em;
}

p::first-letter {
  font-size: 2em;
  font-style: italic;
  color: #d8b838
}