.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(80vh - 64px);
  padding: 20px;
}

h2 {
  color: #ff8400;
  font-size: 48px;
}

.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.date {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #ff8400;
  font-size: 18px;
  color: #ff8400;
}

.remain {
  font-size: 28px;
  color: #ffb362;
}

.start-btn {
  font-size: 32px;
  padding: 15px 40px;
  border-radius: 20px;
  border: none;
  background-color: #ff8400;
  color: #fff;
}

.start-btn:hover {
  background-color: #ffb667;
}

.start-btn:disabled {
  background-color: #dadada;
}