body {
  background-color: #e6f7ff;

}

.theme-btn {
  background-color: #33bfff;
}

.theme-btn:hover {
  background-color: #86d9ff;
}

.header h1,
.time,
.marquee-container,
.option-title {
  color: #33bfff;
}

.option {
  background-color: #f8fdff;
}

a {
  color: #33bfff;
  text-decoration: none;
}

a:hover {
  color: rgb(193, 235, 255);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(80vh - 64px);
  padding: 20px;
}

h2,
h3 {
  color: #33bfff;
  line-height: 3;
}

p {
  text-indent: 2em;
  color: #83d8ff;
  line-height: 2;
}

table {
  border-collapse: collapse;
  background-color: #f8fdff;
  border: none;
}

th {
  padding: 8px 24px;
  border: 1px solid #33bfff;
  background-color: #c9eeff;
  color: #33bfff;
}

td {
  padding: 0 24px;
  border: 1px solid #33bfff;
}

img {
  border: 3px solid #33bfff;
  border-radius: 20px;
  height: 200px;
  margin: 16px 0;
}