* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffdccb;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  position: relative;
  padding: 20px;
}

.header h1 {
  color: #ff8400;
  text-align: center;
  font-size: 42px;
  padding-bottom: 18px;
  letter-spacing: 48px;
}

.theme-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  height: 40px;
  background-color: #ff8400;
  border: none;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.879);
}

.theme-btn:hover {
  background-color: #ffb667;
}

.theme-toggle {
  background-color: rgba(255, 142, 142, 0.22)
}

.menu {
  font-size: 24px;
}

.first-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.option {
  position: relative;
  width: 144px;
  height: 64px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.option-tilte {
  color: #ff8400;
}

.second-menu {
  list-style: none;
  position: absolute;
  top: 64px;
  display: none;
  padding-left: 0;
}

.option:hover .second-menu {
  display: block;
}

a {
  color: #ff8400;
  text-decoration: none;
}

a:hover {
  color: #ffd3a4;
}