* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b1420b38;
  margin: 0 auto;
  text-align: center;
  padding: 60px 40px;
}

h1 {
  border-bottom: 3px solid #ff8400;
  color: #7c57a6;
  text-align: center;
  font-style: italic;
  font-size: 42px;
  padding-bottom: 18px;
}

h2 {
  color: #7c57a6;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: bold;
}


a {
  color: #b1420b38;
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 1px;
}

table {
  margin: 0 auto 60px;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.72);
}

th,
td {
  padding: 16px 30px;
  border: 1px solid rgba(255, 132, 0, 0.35);
  color: #3a3a3a;
  font-size: 16px;
}

th {
  background-color: #ff840026;
  color: #7c57a6;
  font-weight: bold;
  letter-spacing: 2px;
}

a:active,
a:hover {
  color: brown;
  text-decoration: underline;
}

img {
  border: 3px solid #b1420b38;
  border-radius: 20px;
}